/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
}

.mat-mdc-card {
    margin: 1rem;
}